body {
	padding: 0;
	margin: 0;
	background:url("../imagens/game/tela.png");
	background-size: cover;
}

.middle{
	width: 500px;
	margin:0 auto;
	margin-top: 100px;
	text-align: center;
}

.btn{
	background: none;
	border: none;
	margin-top: 100px;
	margin-left: -25px;
	animation: scaleBtn 1s infinite alternate;
	-webkit-animation:scaleBtn 1s infinite linear alternate;
	transform: scale(1,1);
}

.btn:hover{
	transform: scale(1,1);
	animation: none;
	-webkit-animation:none;
}

.btn, .btn-img{
	width: 100px;
	height: 100px;
}

#screen {
	background:url("../imagens/game/tela.png");
	background-size: 700px 480px;
	width: 640px;
	height: 480px;
	border-style: solid;
	border-color: black;
} 

.main{
	width: 640px;
	height: 480px;
	margin: 0 auto;
	margin-top: 70px;
}

.hiddenfigures{
	display: none;
} 

@keyframes scaleBtn{
 0%{
 	transform: scale(1,1);
 }
 100%{
 	transform: scale(1.2,1.2);
 }
}

@-webkit-keyframes scaleBtn{
 0%{
 	transform: scale(1,1);
 }
 100%{
 	transform: scale(1.2,1.2);
 }
}